@import '../../../Styles/global-styles.scss';
$button-color: #8338ec;
$button-text-color: var(--text);
$hover-button-color: lighten($button-color , 10%);

.grid-button-container {
    @include containerElement;
    direction: rtl;
    display: flex;
    column-gap: 0.8rem;
    p {
        margin: 0;
    }
    button {
        color: $button-text-color;
        font-size: 0.9rem;
        background-color: $button-color;
    }
    button:hover {
        background-color: $hover-button-color;
    }
    button.print {
        background-color: #3a86ff;
    }
}