.invoice-container {
  /* overflow-x: scroll; */
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  direction: rtl;
}

@media (max-width: 40rem) {
  .invoice-container {
    overflow-x: scroll;
    align-items: start;
  }
}
